//-
  @name: Project Name
  @author: Jeremy Bolding
  @license: MIT

//
  Comment Blocks are Broken

doctype html
html
  head
    meta(charset='utf-8')
    title Document
  body
    include ./includes/page
