include mixins

+plist()
  +dict()
    +name('Comments')
    +scope('source.pug')
    +dict('settings')
      +array('shellVariables')
        +dict()
          +key('name', 'TM_COMMENT_START')
          +key('value', '//- ')
